body {
	font: 75% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
	background-color: White;
	color: Black;
	margin: 10px;
	padding: 10px;
}
p a:visited {
	color: Purple;
	background-color: transparent;
}
p a:active {
	color: Red;
	background-color: transparent;
}
h1 {
	font-size: 160%;
	padding-right: 4em;
}
h2 {
	font-size: 150%;
}
ul { 
	line-height: 1.5em;
	list-style-type: square;
	margin: 0.5em 0em 0em 1.5em;
	padding: 0em;
}
.error {
	color: Red;
}
.didYouMean {
	color: Red;
}